[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "predRupdate"]
	path = predRupdate
	url = https://github.com/glenmartin31/predrupdate
